section#our-services.pad-top-50
    .container
        .row
            .col-xs-12.col-sm-4
                .service
                    span.service-icon
                        i.fa.fa-flag-checkered
                    .service-details
                        h4 <a href="#aboutus">#{t.ourservices.info.title}</a>
                        p
                            | #{t.ourservices.info.text}
            //
               /.col-sm-6
            .col-xs-12.col-sm-4
                .service
                    span.service-icon
                        i.fa.fa-gears
                    .service-details
                        h4 <a href="#services">#{t.ourservices.support.title}</a>
                        p
                            | #{t.ourservices.support.text}
            //
               /.col-sm-4
            .col-xs-12.col-sm-4
                .service
                    span.service-icon
                        i.fa.fa-group
                    .service-details
                        h4 <a href="#contacts">#{t.ourservices.staff.title}</a>
                        p
                            | #{t.ourservices.staff.text}
            //
               /.col-sm-4
        //
           /.row
    //
       /.container
    //
       /#our-services